/*********IMPORTS************/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "helpers/placeholders";

/************IMPORTS END************/


/************Global Styles************/
@font-face {
    font-family: Rockwell;
    src: url('fonts/rockwell.ttf') format('truetype');
}
@font-face {
    font-family: Rockwell;
    font-style: italic;
    src: url('fonts/rockwell-italic.ttf') format('truetype');
}
* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
*:focus {
  outline: none;
}
.pp {
  position: absolute;
  top:0;
  left: 0;
  z-index: 111;
  opacity: 0.3;
}
body {
  /*width: 1400px;*/
}
.link--reset {
  text-decoration: none;
  color: #000;
}
.btn {
  @extend %appearence-none;
  padding: 15px 30px;
  font-size: 14px;
  font-family: Raleway;
  &--simple {
    border:none;

  }
  &--yellow {
    background: $light-yellow;
    &:hover {
      background:lighten($light-yellow,5%);
    }
  }
  &--transparent {
    background:transparent;
    border: 2.65px solid #fff;
    font-weight: bold;
    color:#fff;
    padding: 15px 50px;
    &:hover {
      background: rgba(255,255,255,.2);
    }
  }

}



/************Global Styles END************/

/************HEADER************/
.page-header {
  height: $header-height;
  position:relative;
  z-index: 2;
  background:#fff;

  &__logo-block {
    width:20%;
    text-align: center;
    float: left;
    z-index: 2;
  }
  &__logo {
    margin:58px 0 0 0;
    
    width:70%;
    min-width: 170px;
    max-width: 226px;
  }
  &__nav {
    float: left;
    /*margin-right: 4%;*/
    width:45.8%;
    text-align: center;
    li {
      &:not(:last-child)
      {
        margin-right: 6%;
      }
      display: inline-block;
    }
  
    ul {
      line-height: $header-height;
      @extend %ul-list-none;
    }

    a {
      @extend %nav-link-style;
    }
  }
  &__nav-item--active a{
    font-weight: bold;
    color: $light-yellow;
  }
  &__help {
    font:600 12px Raleway;
    color: $dark-blue;
    float: left;
    border-left:1px solid #ebebeb;
    height: $header-height;
    width: 34%;
    text-align: center;
    @extend %flexbox;
    @include flex-direction(column);
    @include justify-content(center);
  }
  &__menu {
    display: none;
    float: right;
    /*margin-right: 40px;*/
    margin-right: 7%;
    margin-top: 60px;
    width:25px;
    height: 25px;
    span {
      width:100%;
      height: 5px;
      display: block;
      margin-bottom: 5px;
      background:$dark-blue;
    }
  }
  &__help-r2 { /*row 2*/
    margin: 22px 0 0 ;
  }

  &__help-vertical-line {
    display: inline-block;
    height: 34px;
    width:1px;
    background: #babbc4;
    margin:0 6% 0 6%;
    vertical-align: middle;
  }
  &__btn {
    font-weight: 600;
    color: $dark-blue;
  }
  &__help-number {
    font: bold 24px Lato;
    color: $dark-blue;
    vertical-align: middle;
  }
 
}
/************MOBILE NAV************/
.mobile-nav {
    transition: top 1s;
    top:-$header-height;
    position:absolute;
    height: 120px;
    padding-top:10px;
    width:100%;
    background:#fff;
    z-index: 1;
    border-top:1px solid rgba(0,0,0,0.02);
    ul {
      float: left;
      margin-left: 3%;
      @extend %ul-list-none;

      a {
        @extend %nav-link-style;
      }
    }

    &__help {
      float: right;
      margin-right: 2%;
    }
}
/************MOBILE NAV END************/
/************HEADER END************/

/************MAIN************/
.main {
  clear: both;
  background: url('../img/main-bg.jpg') no-repeat 100% 100%/100% 100%;
  height: 792px;
  padding: 0 10px;
  @extend %flex-center;
  @include flex-direction(column);

  &__header {
    font: 48px 'Rockwell';
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
  }
  &__subheader {
    font:30px Raleway;
    color: #fff;
    margin-bottom: 30px;
     word-spacing: 8px;
    text-align: center;
  }
  &__check-domain {
    /*width: 575px;*/
    /*height: 90px;*/
    background: rgba(255,255,255,.502);
    font-family: Raleway;
    padding: 17px 17px;
    @extend %flex-center;
    margin-top: 30px;
  }
  &__domain-input {
    font-size: 18px;
    width: 300px;
    height: 54px;
    border:none;
    padding-left: 23px;
    color: $dark-grey;
    @include placeholder-color($dark-grey);
  }
  &__domain-select {
    background:$light-yellow url('../img/select-toggle.png') no-repeat 90% 50%;
    border:none;
    
    font-weight: bold;
    font-size: 18px;
    width: 108px;
    height: 54px;
    color: $dark-grey;
    padding-left: 21px;
    @extend %appearence-none;
    
    &::-ms-expand { /*HIDES SELECT TOGGLE*/
      display: none;
    }

  }
  &__check-btn {
    font-weight: bold;
    color: #fff;
    height: 54px;
    padding: 0px 15px;
    min-width: 160px;
    border-left: 1px solid #fff;
  }

}
/************MAIN END************/

/************SERVICE************/
.services {
  @extend %flex-center;

  &__webhost {
    background:$dark-blue;
  }
  &__domain {
    background:$light-yellow;
  }
}
.info-block {
  width:50%;
  color:#fff;
  font-family: Raleway;
  height: 653px;
  @extend %flex-center;
  @include flex-direction(column);
  &__img-block {
    height: 200px;
    margin-bottom: 50px;
    @extend %flex-center;
  }
  &__header {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
  }
  &__main-text {
    font-size:14px;
    text-align: center;
    max-width: 90%;
    margin-bottom: 50px;
  }
}
/************SERVICE END************/

/************FEATURES************/
.features {
  background:#fbf8f1 url('../img/triangle-big.svg') no-repeat 50% 50%;
  font-family: Raleway;
  min-height:615px; 
  padding: 85px 10px 40px 10px;
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
  
  &__header {
    
    color: $dark-blue;
    font-size:48px;
    margin-bottom: 14px;
  }
  &__subheader {
    color: $dark-blue;
    font-size:24px;
    font-weight: normal;
  }
  &__list {
    // padding: 0 to-percent(50);
    margin-top: 80px;
    @include flex-wrap(wrap); 
    @extend %ul-list-none;
    @extend %flex-center;
    @include justify-content(space-around);
  }
  &__item {
      margin-bottom: 25px;
      @extend %flex-center;
      @include flex-direction(column);
      &:not(:first-child)
      {
        margin-left:50px;
      }
      &-img {
        
      }
      &-line {
        width:68px;
        height: 3px;
        background:#8d8d99;
        margin: 34px 0 30px 0;
      }
      &-header {
        font:30px Rockwell;
        color: #f4d320;
        margin-bottom: 30px;
        text-align: center; 
      }
      &-text {
        text-align: center;
        font:14px Raleway;
        color: $dark-blue;  
        max-width: 240px;  
      }
    
  }


}
/************FEATURES END************/

/************Clients************/
.clients {
  
  padding: 90px 0;
  &__top {
    @extend %flexbox;
    @include justify-content(center);
    padding-left:3%;
  }
  &__header {
    font:bold 36px Raleway;
    color: $dark-blue;
    margin-bottom: 25px;
  }
  &__overview {
    font:16px Raleway;
    color:#adadad;
    max-width: 340px;
  }
  &__companies {
    margin-left: 60px;
  }
  &__company {
    width:175px;
    height: 115px;
    margin: 0 28px 10px 0;
  }
  &__citations {
    margin-top: 80px;
    @extend %flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);

  }
  &__quote {
    width:to-percent(372);
    min-width: 350px;
    background:#faf9f9;
    position:relative;
    height: 180px;
    padding:20px 0 0 0;
    margin-bottom: 55px;
    &:not(:first-child)
    {
      margin-left: 28px;
    }

  }
}
.quote {
      &__body {
      font:italic 14px/24px Rockwell;
      color:#a4a4a4;
      max-width: 320px;
      margin:0 auto 18px auto;

    }
    &__author {
      font:bold 16px Raleway;
      color: #696969;
      width:320px;
      margin:0 auto;
      display: block;
    }
    &__portret {
      position:absolute;
      right: 20px;
      bottom: -45px;
    }
}
/************Clients END************/

/************PRICING************/
.pricing {
  background:$dark-blue;
  padding: 90px 10px;
  @extend %flex-center;
  &__header {
    font: bold 36px Raleway;
    color: #fff;
    margin-bottom: 20px;
  }
  &__subheader {
    font:18px Raleway;
    color:#67687b;
  }
  &__btn {
    border: 3px solid #fff;
    margin-left: 8%;
    font: bold 18px Raleway;
    color: $dark-blue;
    padding:29px 53px; 
  }
}
/************PRICING END************/

/************FOOTER************/
.page-footer {
  background:#363855 url('../img/footer-bg.png') no-repeat 21% 39%;
  height: 514px;
  position:relative;
  padding: 10% 8.5% 0 0;
  height: 655px;
  &__copyright {
    position:absolute;
    bottom:72px;
    width:100%;
    font:17px Raleway;
    color: #fff;
    @extend %flex-center;
    @include flex-direction(column);

  }
  &__logo {
    transform: rotate(-15deg);
    width:31px;
    margin-bottom: 12px;
  }
}
.footer-nav {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(flex-end);
  
  &__header {
    font: bold 18px Raleway;
    color:#fff;
    margin-bottom: 23px;
  }
  &__list {
    @extend %ul-list-none;
  }
  &__item {
    text-align: right;
    padding: 8px 0;
    width:65px;
    &:not(:last-child)
    {
      border-bottom: 1px solid #565870;
    }
    & a {
      color: #fff;
      font: 16px Raleway;
      text-decoration: none;
    }
  }
  &__socials {
    list-style: none;
    margin:33px 0 62px 0;
    & li {
      display: inline-block;
      &:not(:last-child)
      {
        margin-right: 18px;
      }
    }
  }
  &__social {
    width: 17px;
    height: 19px;
    display: block;


    &--twitter {
      background: url("../img/socials.png") no-repeat 0 0;
    }
    &--instagram {
      background: url("../img/socials.png") no-repeat -34px 0;
    }
    &--google {
      background: url("../img/socials.png") no-repeat -73px 0;
    }
  }
  &__back {
    color: #fff;
    font:11px Raleway;
    text-decoration: none;
  }

}
/************FOOTER END*********/

/************MEDIA QUERIES*********/

@media (max-width:1030px)
{
  .pricing {
    &__header {
      font-size: 32px;
    }
    &__btn {
      padding: 26px 48px;
    }
  }
  .page-footer {
    height: 520px;
    background-size: 66%;
  }
}
@media (max-width:930px)
{
  .page-header {
    &__logo-block {
      width:45%;
    }
    &__help {
      display: none;
    }

    &__nav {
      display: none;
    }
    &__menu {
      display: block;
    }
  }
  .services {
    @include flex-direction(column);
  }
  .info-block {
    width: 100%;
  }
}
@media (max-width:873px){
  .features {
    &__item:nth-child(3)
    {
      position:relative;
      left: -50px;
    }
  }
  .pricing {
    &__btn {
      font-size: 16px;
      padding: 23px 43px;
    }
  }
}
@media (max-width:675px)
{
  .clients {
    &__top {
      padding: 0 10px;
      @include flex-direction(column);
      @include align-items(center);
    }
    &__companies {
      margin: 10px 0 0 0;
      text-align: center;

    }
  }
  .pricing {
    text-align: center;
    @include flex-direction(column);

    &__btn {
      margin: 20px 0 0 0;
    }
  }
}
/************MEDIA QUERIES END**********/